<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="/javascripts/map.js"></script>
</head>
	<div class="container">
	{{{body}}}
	</div>
</html>